.main {
  display: flex;
  flex-direction: column;
  color: black;
}
.main .box-1 {
  width: 100vw;
  height: 30vh;
}
.main .box-1 img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main .box-2 {
  height: 70vh;
  align-content: center;
}
.main .box-2 h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 5vh;
  font-weight: 600;
}
.main .box-2 .form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 10vw;
}
.main .box-2 .form .email {
  font-size: x-large;
  padding: 5px;
  padding-left: 10px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: 0.4s;
}
.main .box-2 .form .email:focus {
  scale: 1.05;
}
.main .box-2 .form .password {
  font-size: x-large;
  margin-top: 3vh;
  padding: 5px;
  padding-left: 10px;
  border-radius: 15px;
  border: solid;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: 0.4s;
}
.main .box-2 .form .password:focus {
  scale: 1.05;
}
.main .box-2 .form button {
  align-self: center;
  background-color: rgb(99, 255, 242);
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-size: larger;
  font-weight: 600;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border: none;
  transition: 0.2s;
}
.main .box-2 .form button:hover {
  background-color: rgb(0, 234, 255);
  scale: 1.1;
}
.main .box-2 .form p {
  text-align: center;
  font-size: large;
}
.main .box-2 .form p span {
  color: rgb(0, 0, 255);
}

@media (min-width: 700px) {
  .main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .main .box-1 {
    width: 40vw;
    height: 100vh;
  }
  .main .box-1 img {
    height: 100vh;
    -o-object-fit: fill;
       object-fit: fill;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  .main .box-2 {
    width: 60vw;
    height: 100vh;
  }
  .main .box-2 .form {
    width: 60vw;
    margin-left: 0;
  }
  .main .box-2 .form .email {
    width: 35vw;
    margin-left: 12.5vw;
  }
  .main .box-2 .form .password {
    width: 35vw;
    margin-left: 12.5vw;
  }
}